DATABASE_URL ='mongodb://127.0.0.1:27017/paytel?directConnection=true&serverSelectionTimeoutMS=2000'
JWT_SECRET='super-secret'
KAVENEGAR_API_KEY='506B333345356C7347576E61436A6F742B6C6E326D485A6C6A5A6E4B5770746C'
USER_LOGIN_TIME_FOR_TRANSACTION='200'
SERVER_ADDRESS='http://localhost:3000'



